body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    width: 50%;
    margin: 50px auto; 
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

form {
    margin-top: 20px;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    margin-right: 20px;
    flex: 0 0 100px; 
}
.radio-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.radio-buttons label {
    margin-right: 20px;
}

.input-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.input-fields div {
    margin: 0 10px; 
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}
table, th, td {
    border:1px solid black;
  }
  th {
    text-align: center;
    background-color: lightblue;
    color: white;
}